

@font-face {
    font-family: AcuminVariableConcept;
    src: url('../fonts/AcuminVariableConcept.otf'); 
}
@font-face {
    font-family: arialBold;
    src: url('../fonts/Arial\ Bold.ttf');
}


*{

    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;


}


html,body{

    padding: 0;
    margin: 0;
    background-color: #f5f4ef;
}

@media screen and (max-width:1640px){

header{

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding: 2rem 1rem;
    position: sticky;
    background-color: #f5f4ef;
    top: 0;
    z-index: 100;
    transition: all linear 0.5s;
    transform: translateY(-100%);


}
.scrollHeader{

    background-color: #f5f4ef;
}
header .logo{

    display: none;
}

.logo{

    width: 30%;
    
}

.logo img{

    width: 70px;
}
.right{

    width: 40%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-size: 14px;    
    

}
.right label{

    margin-top: 4px;
    font-family: AcuminVariableConcept, sans-serif;
}
.right .cart{

    width: 30%;
    padding: 0 0.5em;

   
}
.right .search{


    display: flex;
    align-items: flex-start;
    

}
.right input[type='search']{

    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin: 0 1em;
}
.search-icon{

    display: none;
}
.search-icon img{

    width: 24px;

}

.main-bg{

    display: flex;
    justify-content: flex-end;

}
.nav{

    width: 20%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    background-color: #f5f4ef;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    transition: all linear 0.5s;
    transform: translateX(-100%);
}

.nav ul{

    list-style: none;
    padding: 0;
    margin: 0.8rem 0;

}
.nav ul li{

    padding: 0.15rem 0;

}
a{
    text-decoration: none;
    color: black;
    font-family: AcuminVariableConcept, sans-serif;
    font-size: 14px;
}
.bg{

    width: 80%;
    height: min-content;        
    overflow: hidden;
    align-self: flex-end;
    position: relative;
    

}
.bg img{

    width: 100%;
    height:100%;
    /* margin: 0 0 -10% 0; */
    object-fit: cover;
    opacity: 0.7;
}
.main-heading{

    position: absolute;
    width: 100%;
    top: 50%;
    margin:auto;
    transform: translateY(-50%);
    font-size: 64px;
    font-family: serif;
    font-style: normal;
    font-weight:100;
    color: black;
    text-align: center;
    z-index: 10;
    letter-spacing: 2px;

}

.pic-info{

    /* margin-top: 6.5em; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pic-text{

    width: 50%;
}
.pic-info p{

    margin: 0.2em;
    font-family: 'AcuminVariableConcept', sans-serif;
}

.pic-info .shop{

    display: flex;
    align-items: center;
    padding: 0 0.5em;

    
}
.pic-info .shop a{

    padding: 0 0.5em;
    font-family: arialBold;

}

/*   Rings  */

    .rings{

        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 95%;
        margin:auto;
        padding: 4em 0;
        row-gap: 5em;


    }
    .ring-1, .ring-2{

        width: 35%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .ring-1 .pic-info{

        width: 80%;
        margin-left: -6px;
        align-items: flex-start;
    }
    .ring-1 .pic-info .pic-text{

        width: 100%;
        padding: 0.4em 0;

        position: relative;
    }
    .ring-1 .pic-info .pic-text::before{
    content: '1 ';
    position: absolute;
    top: 8px;
    left: -15px;
    font-family: 'AcuminVariableConcept', sans-serif;

    }
    .ring-1 .pic-info .shop{

        width: 21%;
    }

    .ring-1 .pic-info .shop a{

        padding: 0 0.3em;
    }
    .ring-2{

        width: 40%;
    }
   
    .ring-1 .ring-img-1{

        width: 80%;
        overflow: hidden;

        }
    .ring-1 img{

        width: 250%;
        object-fit: cover;
        margin: -20% 0 -40% -75%;
        opacity: 0.7;

    }


    .ring-2 .ring-img-2{

        width: 95%;
        overflow: hidden;

        }
    .ring-2 img{

        width: 290%;
        object-fit: cover;
        margin: -30% 0% -30% -95%;
        opacity: 0.7;

    }

    .ring-2 .pic-info{

        width: 100%;
        margin-left: -6px;

    }
    .ring-2 .pic-info .pic-text{

        width: 50%;
        position: relative;
        padding: 0.4em 0;

    }
    .ring-2 .pic-info .pic-text::before{
        content: '2';
        position: absolute;
        top: 8px;
        left: -15px;
        font-family: 'AcuminVariableConcept', sans-serif;

        
        }
    .ring-2 .pic-info .shop{

        width: 22%;
    }
   

    /* DESIGNS */

    .sec-2{

        /* margin: 0 0 35vh 0; */
    }
    .flex-design{

        display: flex;
        flex-flow: column nowrap;
        
        
    }
    .designs{

        display: flex;
        flex-flow: wrap;
        justify-content:flex-end;
        align-items: flex-end;
        column-gap: 10px;
        width: 80%;
        margin: auto;
    }

    .design-1{

        width: 30%;
        height: min-content;
        overflow: hidden;

    }

    .design-1 img{

        display: block;
        width: 280%;
        opacity: 0.7;
        object-fit: cover;
        object-position: top; 
        height: 35vw;
        margin: 0% 0% -17% -25%;   
    }

    .design-2{

        width: 40%;
        height: min-content;
        overflow: hidden;

    }
    .design-2 img{

        display: block;
        width: 280%;
        opacity: 0.7;
        object-fit: cover;
        height: 35vw;
        object-position: top; 
        margin: 0 0 -0% -130%;     
   

    }
    .designs .pic-info{

        
        width: 72%;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: auto;
    }
    .designs .pic-info .pic-text{

        width: 62%;
        padding: 0.4em;
        position: relative;
    }

    .designs .pic-info .pic-text::before{
        content: '3 ';
        position: absolute;
        top: 8px;
        left: -15px;
        font-family: 'AcuminVariableConcept', sans-serif;

        }
    .designs .pic-info .shop{

        width: 13%;
    }

    /* FOOTER */

    footer {

        /* visibility: hidden; */
        display: none;
        position: relative;
        width: 100%;
        bottom: 0;
        z-index: 999999;
        margin: 3em 0 0em 0;
        padding: 3em 0 4em 0;
        /* transition: all linear 0.5s; */
        /* transform: translateY(100%); */
        /* background-color: #f5f4ef; */

    }
    .scrollFooter{

        /* display: block; */
        /* visibility: visible; */
        /* transform: translateY(0%); */


    }

    .footer-flex{

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 95%;
        margin: auto;
    }
    footer .logo{

        width: 5%;
        display: flex;
        align-items: flex-end;
    }
    .links{

        width: 40%;
        display: flex;
        align-items: flex-end;

    }
    .links ul{

        list-style: none;
        margin: 0 2vw;
        padding: 0;
    }
    
    .subscribe{
        width: 35%;
        display: flex;
        align-items: flex-end;
    }

    .subscribe label{

        font-family: AcuminVariableConcept, sans-serif;
        font-size: 14px;
        
    }
    .subscribe a{

        /* margin-bottom: -10px; */
       
    }
    .subscribe input[type='email']{

        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        margin: 0 1em 5px 1em;
        width: 15vw;
        font-family: AcuminVariableConcept, sans-serif;

    }
    .copy{

        width: 15%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-end;
        
    }

    .copy p{

        padding: 0;
        margin: 0.1em 0;
        font-family: AcuminVariableConcept, sans-serif;
        font-size: 14px;

    }
    
    

}

@media screen and (max-width:1024px){
    
    /* RINGS */

    .rings{
        width: 90%;
    }
    .ring-1{

        width: 40%;
    }
    .ring-1 .pic-info .pic-text{

        width: 70%;

    }

    .ring-1 .pic-info .shop{

        width: 30%;

    }


    .ring-2 .pic-info .pic-text{

        width: 70%;

    }

    .ring-2 .pic-info .shop{

        width: 30%;

    }

    /* DEsigns */

    .sec-2{

        /* margin: 0 0 30vh 0; */
    }

    /* FOOTER */

    footer .logo{

        width: 10%;
    }
    
    .subscribe{

        width: 35%;
        justify-content: center;
    }
    .copy{

        width: 20%;
    }

    
}

@media screen and (max-width:768px){
    
    /* .body{

        position: relative;
    } */
    header{
        background-color: transparent;
        padding: 1em 0em;
        justify-content: space-around;
    }
    header .logo{

        display: block;
        width: 20%;
        
    }
    header .logo img{

        margin: auto;
        display: block;
    }
    
    .hamburger{

        display: flex;
        width: 20%;
        align-items: center;

    }
    .hamburger .line{
        background-color: black;
        height: 1px;
        width: 22px;
    }
    .line::before,.line::after{

        content: '';
        position: absolute;
        background-color: black;
        height: 1px;
        width: 22px;
        
    }
    .line::before{

        margin-top: -6px;

    }
    .line::after{

        margin-top: 6px;

    }  
   
    .right{

        width: 25%;
        display: flex;
        justify-content: flex-end;
        padding: 0;

    }
    .right .search{

        display: none;
    }
    .search-icon{
        display: block;
        padding: 0 01em;
    }
    .right .cart{
        width: 35%;
    }
    .nav{

        display: none;
        top: 0;
        bottom: 0;
        width: 60%;
        justify-content: center;
        align-items: center;
        padding-top: 2em ;

    }
    
    .nav .logo{
        width: 50%;
        display: flex;
        justify-content: center;
        margin: auto;

        
    }
    .nav ul{
    
        width: 80%;
        margin: 0.5em auto;
    }

   
    .nav ul li{

        margin: 0.5em auto;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    }
    .cross{

      float: right;
      position: relative;
      right: 20px;
      cursor: pointer;

    }
    .diagonal{

        background-color: transparent;
        height: 3px;
        width: 24px;
    }
    .diagonal::before, .diagonal::after{
    
        content: '';
        position: absolute;
        background-color: black;
        height: 1px;
        width: 18px;
    
    }  
     .diagonal::before{

        transform: rotate(45deg) translate(5px,-5px);

    }
     .diagonal::after{

        transform: rotate(-45deg) translate(5px,5px);

    }
    .show-nav{

        display: block;
    }
    .bg{

        display: block;
        position:relative;
        width: 100%;
        margin-top: -6.5em;
        top: 0;
        left: 0;
    }
    .pic-info{

        justify-content: space-around;

    }
    .pic-text{

        width: 50%;
    }
    

    /* RINGS */


    .rings{

        flex-flow: column nowrap;
        margin: 0;
        width: 100%;

    }

    .ring-1{

        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .ring-1 .pic-info{

        justify-content: space-between;
    }
    .ring-1 .pic-info .pic-text{

        width: 35%;
    }
    .ring-1 .pic-info .shop{

        width: 15%;
    }


    .ring-2{
        width: 100%;
        align-items: flex-end;
    }

    .ring-2 .ring-img-2{

        width: 95%;
    }

    .ring-2 .pic-info{

        justify-content: space-between;
        width: 96%;
    }
    .ring-2 .pic-info .pic-text{

        width: 35%;
    }

    .ring-2 .pic-info .pic-text::before{
    
        top: 10px;
    
    }
    .ring-2 .pic-info .shop{

        width: 15%;
    }
    
    /* DESIGNS */
    .sec-2{

        /* margin: 0 0 45vh 0; */
    }

    .designs{

        width: 100%;
        justify-content: flex-start;
    }

    .design-1{

        width: 45%;

    }
    .design-1 img{

        height: 55vw;
        margin: -15% 0 0 -25%;
    }

    .design-2{

        width: 45%;

    }

    .design-2 img{

        height: 55vw;
        margin: -5% 0 0 -127%;

    }

    .designs .pic-info{

        width: 100%;
        justify-content: space-around;
    }

    .designs .pic-info .pic-text::before{

        top: 9px;
        left: -15px;

    }
    .designs .pic-info .shop{

        width: 15%;

    }

    /* FOOTER */

    footer{

        margin-bottom: 0em;
        padding-bottom: 2em;
    }
    .footer-flex{

        flex-flow: row wrap;
        row-gap: 4em;
        
        
    }

    footer .logo{
        width: 10%;
        order: 2;

    }

    .links{
        width: 80%;
        justify-content: center;
        order: 3;


    }
    .links ul{

        margin: 0 4vw;
    }
    .subscribe{
        
        width: 100%;
        order: 1;
 
    }
    .copy{
        width: 100%;
        justify-content: center;
        align-items: center;
        order: 4;

    }

}

@media screen and (max-width:425px){
    
    .right{

        width: 35%;
    }
    .right .cart{

        width: 45%;
    }
    header .logo{

        width: 5%;

    }
    .hamburger{

        width: 25%;

    }

    .bg .pic-info .pic-text{

        padding: 0.4em 0;
    }
    .bg .pic-info .pic-text p{

        margin: 0.1em 0;
        font-size: 14px;
    }
    .bg .pic-info .shop a{

        font-size: 12px;
        padding: 0 0.3em ;
    }

    /* RINGS */

    .ring-1 .pic-info{

        width: 82%;
        padding: 0.4em 0;

    }
    .ring-1 .pic-info .pic-text{

        width: 60%;
    }
    .ring-1 .pic-info .pic-text::before{

        top: 8px;
        left: -15px;
        font-size: 14px;
    }
    .ring-1 .pic-info .pic-text p{

        font-size: 14px;

    }
    .ring-1 .pic-info .shop{

        width: 20%;
    }

    .ring-1 .pic-info .shop a{

        padding: 0 0.2em;
        font-size: 12px;
    }

    .ring-2 .ring-img-2{

        width: 94%;
    }
    .ring-2 .pic-info{

        width: 95%;
        padding: 0.4em 0;

    }
    .ring-2 .pic-info .pic-text{

        width: 70%;
    }
    .ring-2 .pic-info .pic-text p{

        font-size: 14px;


    }
    .ring-2 .pic-info .pic-text::before{

        font-size: 14px;
        top: 9px;
        left: -15px;

    }

    .ring-2 .pic-info .shop{

        width: 22%;
    }

    .ring-2 .pic-info .shop a{

        padding: 0 0.2em;
        font-size: 12px;

    }

    .main-heading{

        font-size: 34px;
    }


    /* DESIGNS */
    .sec-2{

        /* margin: 0 0 67vh 0; */
    }


    .designs{

        width: 100%;
        justify-content: flex-start;
        column-gap: 5px;
    }

    .design-1{

        width: 50%;

    }
    .design-1 img{

        height: 65vw;
        margin: -5% 0 0 -25%;
    }

    .design-2{

        width: 45%;

    }

    .design-2 img{

        height: 105vw;
        margin: -0% 0 -89% -125%;

    }

    .designs .pic-info{

        width: 98%;
        justify-content: center;
        align-items: center;
        padding: 0.4em 0;
    }

    .designs .pic-info .pic-text{

        width: 76%;

    }

    .designs .pic-info .pic-text::before{

        top: 8px;
        left: -15px;
        font-size: 14px;
    }
    .designs .pic-info .pic-text p{

        font-size: 14px;

    }
    .designs .pic-info .pic-text p br{

        display: none;
 
     }
    .designs .pic-info .shop{

        width: 18%;

    }

    .designs .pic-info .shop a{

        padding: 0 0.2em;
        font-size: 12px;
    }
    
     /* FOOTER */

     .footer-flex{

        flex-flow: row wrap;
        row-gap: 3em;
    }

    .logo{
        
        width: 20%;
    }
    .logo img{
        width: 60px;
    }
    .links{
        width: 85%;
        justify-content: center;

    }
    .links ul{

        margin: 0 3vw;
    }
   
    .subscribe input[type='email']
    {
        width: 35vw;
    }
    .links a{

        font-size: 12px;
    }
    
}

@media screen and (max-width:375px){

    header{
        padding:1em 1em;
    }

    header .logo img{
    
        width: 40px;
    }
   
    .hamburger{
        
        width: 45%;
    }
    header .logo{

        width: 20%;
    }
    header .right{

        width: 40%;
        justify-content: flex-end;
    }
    .search-icon {

        padding: 0 0.6em;
    }
    .search-icon img{

        width: 16px;
    }
    .right .cart{

        width: 50%;
    }
    .cart a{

        font-size: 14px;
        font-family: 'AcuminVariableConcept', sans-serif;
        font-style: normal;
        font-weight: 100;
    }
    .main-heading{

        font-size: 28px;
    }

    /* RINGS */

    .ring-2 img{

        margin: -45% 0% -40% -95%;
    }
    .ring-1 .pic-info {

        width: 82%;
        
    }
    .ring-1 .pic-info .pic-text{

        width: 75%;
    }
    .ring-1 .pic-info .shop{

        width: 25%;
    }
    .ring-1 .pic-info .shop a{

        padding: 0 0 0 8px;

    }
    .ring-2 .pic-info {

        width: 95%;
        
    }
    .ring-2 .pic-info .pic-text{

        width: 65%;
    }
    .ring-2 .pic-info .pic-text p{

        font-size: 13px;
    }
    .ring-2 .pic-info .pic-text::before{

        left: -12px;
        font-size: 13px;
    }
    .ring-2 .pic-info .shop{

        width: 25%;
    }
    .ring-2 .pic-info .shop a{

        padding: 0 0 0 8px;

    }

    /* DESIGN */

    .sec-2{

        /* margin: 0 0 55vh 0; */
    }
    .designs .pic-info{

        width: 97%;
        justify-content: space-between;
        align-items: center;
        padding: 0.4em 0;
    }

    .designs .pic-info .pic-text{

        width: 80%;

    }

    .designs .pic-info .pic-text::before{

        left: -6px;
        top: 9px;
        font-size: 13px;
    }
    .designs .pic-info .pic-text p{

        font-size: 13px;


    }
    .designs .pic-info .pic-text p br{

        display: none;
 
     }
    .designs .pic-info .shop{

        width: 27%;

    }

    .designs .pic-info .shop a{

        padding: 0 0.2em;
        font-size: 12px;
    }

     /* FOOTER */

     .footer-flex{

        flex-flow: row wrap;
        row-gap: 3em;
    }

    .logo{
        
        width: 10%;
    }
   
    .links{
        width: 85%;
        justify-content: center;

    }
    .links ul{

        margin: 0 1.5vw;
    }
   
    .subscribe input[type='email']
    {
        width: 40vw;
    }
    

}

@media screen and (max-width:320px){
    
    .right .cart{

        width: 45%;
        padding: 0;
    }

    .ring-1 .pic-info .pic-text{

        width: 70%;
        
    }
    .ring-1 .pic-info .shop{

        width: 30%;
    }


    .ring-2 .pic-info {

        width: 95%;
        
    }
    .ring-2 .pic-info .pic-text::before{


        top: 8px;
        left: -12px;
    }
    .ring-2 .pic-info .shop{

        width: 30%;
    }

    /* DESIGN */

    .designs .pic-info {

    }
    .designs .pic-info .pic-text{

        width: 70%;

    }
    .designs .pic-info .pic-text p br{

       display: none;

    }
    .designs .pic-info .pic-text::before{


        top: 8px;
        left: -6px;
    }
    .designs .pic-info .shop{

        width: 28%;
        
    }


    .designs .pic-info .shop a{
    
    
        font-size: 12px;

    }

       /* FOOTER */

       .footer-flex{

        flex-flow: row wrap;
        row-gap: 4em;
    }

    .logo{
        
        width: 10%;
    }
    .logo img{
        width: 50px;
    }
    .links{
        width: 90%;

    }
    .links a{

        font-size: 12px;
    }
   
    .subscribe input[type='email']
    {
        width: 40vw;
    }

}