

@font-face {
    font-family: AcuminVariableConcept;
    src: url('../fonts/AcuminVariableConcept.otf'); 
}
@font-face {
    font-family: arialBold;
    src: url('../fonts/Arial\ Bold.ttf');
}


*{

    box-sizing: border-box;
    /* scroll-behavior: smooth; */

}


html,body{

    padding: 0;
    margin: 0;
    background-color: #f5f4ef;
    position: relative;
}

@media screen and (max-width:1640px){

header{

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding: 2rem 1rem;
    position: sticky;
    background-color: #f5f4ef;
    top: 0;
    z-index: 100;
    transition: 0.5s;


}
.scrollHeader{

    background-color: #f5f4ef;
}
header .logo{

    display: none;
}

.logo{

    width: 30%;
    
}

.logo img{

    width: 70px;
}
.right{

    width: 40%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-size: 14px;
    

}
.right label{

    margin-top: 4px;
    font-family: AcuminVariableConcept, sans-serif;
}
.right .cart{

    width: 30%;
    padding: 0 0.5em;
   
}
.right .search{


    display: flex;
    align-items: flex-start;
    

}
.right input[type='search']{

    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin: 0 1em;
}
.search-icon{

    display: none;
}
.search-icon img{

    width: 24px;

}

.main-bg{

    display: flex;
    justify-content: flex-end;

}
.nav{

    width: 20%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    background-color: #f5f4ef;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999;
}

.nav ul{

    list-style: none;
    padding: 0;
    margin: 0.8rem 0;

}
.nav ul li{

    padding: 0.15rem 0;

}
a{
    text-decoration: none;
    color: black;
    font-family: AcuminVariableConcept, sans-serif;
    font-size: 14px;
}
.bg{

    width: 80%;
    height: min-content;        
    overflow: hidden;
    align-self: flex-end;
    position: relative;

}
.bg img{

    width: 100%;
    height:100%;
    /* margin: 0 0 -10% 0; */
    object-fit: cover;
    opacity: 0.7;
}
.main-heading{

    position: absolute;
    width: 100%;
    top: 50%;
    margin:auto;
    transform: translateY(-50%);
    font-size: 64px;
    font-family: serif;
    font-style: normal;
    font-weight:100;
    color: black;
    text-align: center;
    z-index: 10;
    letter-spacing: 2px;

}

.pic-info{

    /* margin-top: 6.5em; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pic-text{

    width: 50%;
}
.pic-info p{

    margin: 0.4em;
    font-family: 'AcuminVariableConcept', sans-serif;
}

.pic-info .shop{

    display: flex;
    align-items: center;
    padding: 0 0.5em;

    
}
.pic-info .shop a{

    padding: 0 0.5em;
    font-family: arialBold;

}

/*   Rings  */

    .rings{

        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 95%;
        margin:auto;
        padding: 4em 0;
        row-gap: 5em;


    }
    .ring-1, .ring-2{

        width: 35%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .ring-1 .pic-info{

        width: 80%;
        margin-left: -6px;
    }
    .ring-1 .pic-info .pic-text{

        width: 100%;
        position: relative;
    }
    .ring-1 .pic-info .pic-text::before{
    content: '1 ';
    position: absolute;
    top: 5px;
    left: -10px;
    }
    .ring-1 .pic-info .shop{

        width: 25%;
    }
    .ring-2{

        width: 40%;
    }
   
    .ring-1 .ring-img-1{

        width: 80%;
        overflow: hidden;

        }
    .ring-1 img{

        width: 250%;
        object-fit: cover;
        margin: -20% 0 -40% -75%;
        opacity: 0.7;

    }


    .ring-2 .ring-img-2{

        width: 95%;
        overflow: hidden;

        }
    .ring-2 img{

        width: 290%;
        object-fit: cover;
        margin: -30% 0% -30% -95%;
        opacity: 0.7;

    }

    .ring-2 .pic-info{

        width: 100%;
        margin-left: -6px;
    }
    .ring-2 .pic-info .pic-text{

        width: 50%;
        position: relative;
    }
    .ring-2 .pic-info .pic-text::before{
        content: '2';
        position: absolute;
        top: 5px;
        left: -10px;
        
        }
    .ring-2 .pic-info .shop{

        width: 25%;
    }
   

    /* DESIGNS */

    .flex-design{

        display: flex;
        flex-flow: column nowrap;
        
        
    }
    .designs{

        display: flex;
        flex-flow: wrap;
        justify-content:flex-end;
        align-items: flex-end;
        column-gap: 10px;
        width: 80%;
        margin: auto;
    }

    .design-1{

        width: 30%;
        height: min-content;
        overflow: hidden;

    }

    .design-1 img{

        display: block;
        width: 280%;
        opacity: 0.7;
        object-fit: cover;
        object-position: top; 
        height: 35vw;
        margin: 0% 0% -17% -25%;   
    }

    .design-2{

        width: 40%;
        height: min-content;
        overflow: hidden;

    }
    .design-2 img{

        display: block;
        width: 280%;
        opacity: 0.7;
        object-fit: cover;
        height: 35vw;
        object-position: top; 
        margin: 0 0 -0% -130%;     
   

    }
    .designs .pic-info{

        
        width: 72%;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: auto;
    }
    .designs .pic-info .pic-text{

        width: 62%;
        position: relative;
    }

    .designs .pic-info .pic-text::before{
        content: '3 ';
        position: absolute;
        top: 3px;
        left: -15px;
        }
    .designs .pic-info .shop{

        width: 20%;
        justify-content: flex-end;
    }



}

@media screen and (max-width:1024px){
    
    /* RINGS */

    .rings{
        width: 90%;
    }
    .ring-1{

        width: 40%;
    }
    .ring-1 .pic-info .pic-text{

        width: 70%;

    }

    .ring-1 .pic-info .shop{

        width: 30%;

    }


    .ring-2 .pic-info .pic-text{

        width: 70%;

    }

    .ring-2 .pic-info .shop{

        width: 30%;

    }
}

@media screen and (max-width:768px){
    
    .body{

        position: relative;
    }
    header{
        background-color: transparent;
        padding: 1em 0em;
        justify-content: space-around;
    }
    header .logo{

        display: block;
        width: 20%;
        
    }
    header .logo img{

        margin: auto;
        display: block;
    }
    
    .hamburger{

        display: flex;
        width: 20%;
        align-items: center;

    }
    .hamburger .line{
        background-color: black;
        height: 1px;
        width: 22px;
    }
    .line::before,.line::after{

        content: '';
        position: absolute;
        background-color: black;
        height: 1px;
        width: 22px;
        
    }
    .line::before{

        margin-top: -6px;

    }
    .line::after{

        margin-top: 6px;

    }  
   
    .right{

        width: 25%;
        display: flex;
        justify-content: flex-end;
        padding: 0;

    }
    .right .search{

        display: none;
    }
    .search-icon{
        display: block;
        padding: 0 01em;
    }
    .right .cart{
        width: 35%;
    }
    .nav{

        display: none;
    }
    .bg{

        display: block;
        position:relative;
        width: 100%;
        margin-top: -6.5em;
        top: 0;
        left: 0;
    }
    .pic-info{

        justify-content: space-around;

    }
    .pic-text{

        width: 50%;
    }
    .nav{

        width: 60%;
        align-items: center;
    }
    .nav .logo{
        width: 50%;
        margin: auto;
    }
    .nav ul{
    
        width: 50%;
        margin: auto;
    }


    /* RINGS */


    .rings{

        flex-flow: column nowrap;
        margin: 0;
        width: 100%;

    }

    .ring-1{

        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .ring-1 .pic-info{

        justify-content: space-between;
    }
    .ring-1 .pic-info .pic-text{

        width: 35%;
    }
    .ring-1 .pic-info .shop{

        width: 15%;
    }


    .ring-2{
        width: 100%;
        align-items: flex-end;
    }

    .ring-2 .ring-img-2{

        width: 95%;
    }

    .ring-2 .pic-info{

        justify-content: space-between;
        width: 96%;
    }
    .ring-2 .pic-info .pic-text{

        width: 35%;
    }
    .ring-2 .pic-info .shop{

        width: 15%;
    }
    
    /* DESIGNS */


    .designs{

        width: 100%;
        justify-content: flex-start;
    }

    .design-1{

        width: 45%;

    }
    .design-1 img{

        height: 55vw;
        margin: -15% 0 0 -25%;
    }

    .design-2{

        width: 45%;

    }

    .design-2 img{

        height: 55vw;
        margin: -5% 0 0 -127%;

    }

    .designs .pic-info{

        width: 100%;
        justify-content: space-around;
    }

    .designs .pic-info .pic-text{


    }
    .designs .pic-info .shop{

        width: 15%;

    }

}

@media screen and (max-width:425px){
    
    .right{

        width: 35%;
    }
    .right .cart{

        width: 45%;
    }
    header .logo{

        width: 5%;

    }
    .hamburger{

        width: 25%;

    }

    /* RINGS */

    .ring-1 .pic-info{

        width: 80%;
        padding: 0.4em 0;

    }
    .ring-1 .pic-info .pic-text{

        width: 60%;
    }

    .ring-1 .pic-info .shop{

        width: 25%;
    }

    .ring-2 .pic-info{

        width: 96%;
        padding: 0.4em 0;

    }
    .ring-2 .pic-info .pic-text{

        width: 70%;
    }

    .ring-2 .pic-info .shop{

        width: 25%;
    }

    .main-heading{

        font-size: 34px;
    }


    /* DESIGNS */


    .designs{

        width: 100%;
        justify-content: flex-start;
        column-gap: 5px;
    }

    .design-1{

        width: 50%;

    }
    .design-1 img{

        height: 65vw;
        margin: -5% 0 0 -25%;
    }

    .design-2{

        width: 45%;

    }

    .design-2 img{

        height: 105vw;
        margin: -0% 0 -89% -125%;

    }

    .designs .pic-info{

        width: 98%;
        justify-content: center;
        align-items: center;
        padding: 0.4em 0;
    }

    .designs .pic-info .pic-text{

        width: 75%;

    }

    .designs .pic-info .pic-text::before{

        left: -13px;
    }
    .designs .pic-info .pic-text p{

        font-size: 14px;

    }
    .designs .pic-info .pic-text p br{

        display: none;
 
     }
    .designs .pic-info .shop{

        width: 15%;

    }

    .designs .pic-info .shop a{

        padding: 0 0.2em;
        font-size: 12px;
    }
    
}

@media screen and (max-width:375px){

    header{
        padding:1em 1em;
    }

    header .logo img{
    
        width: 40px;
    }
    .nav{

        margin-top: -5em;

    }
    .hamburger{
        
        width: 45%;
    }
    header .logo{

        width: 20%;
    }
    header .right{

        width: 40%;
        justify-content: flex-end;
    }
    .search-icon {

        padding: 0 0.6em;
    }
    .search-icon img{

        width: 16px;
    }
    .right .cart{

        width: 50%;
    }
    .cart a{

        font-size: 14px;
        font-family: 'AcuminVariableConcept', sans-serif;
        font-style: normal;
        font-weight: 100;
    }
    .main-heading{

        font-size: 28px;
    }

    /* RINGS */

    .ring-1 .pic-info {

        width: 82%;
        
    }
    .ring-1 .pic-info .pic-text{

        width: 75%;
    }
    .ring-1 .pic-info .shop{

        width: 25%;
    }
    .ring-1 .pic-info .shop a{

        padding: 0 0 0 8px;

    }
    .ring-2 .pic-info {

        width: 96%;
        
    }
    .ring-2 .pic-info .pic-text{

        width: 75%;
    }
    .ring-2 .pic-info .shop{

        width: 25%;
    }
    .ring-2 .pic-info .shop a{

        padding: 0 0 0 8px;

    }

    /* DESIGN */

    .designs .pic-info{

        width: 95%;
        justify-content: space-between;
        align-items: center;
        padding: 0.4em 0;
    }

    .designs .pic-info .pic-text{

        width: 80%;

    }

    .designs .pic-info .pic-text::before{

        left: -13px;
        top: 4px;
        font-size: 12px;
    }
    .designs .pic-info .pic-text p{

        font-size: 12px;


    }
    .designs .pic-info .pic-text p br{

        display: none;
 
     }
    .designs .pic-info .shop{

        width: 20%;

    }

    .designs .pic-info .shop a{

        padding: 0 0.2em;
        font-size: 12px;
    }

}

@media screen and (max-width:320px){
    
    .right .cart{

        width: 45%;
        padding: 0;
    }

    .ring-1 .pic-info .pic-text{

        width: 70%;
        
    }
    .ring-1 .pic-info .shop{

        width: 30%;
    }


    .ring-2 .pic-info {

        width: 96%;
        
    }
    .ring-2 .pic-info .shop{

        width: 30%;
    }

    /* DESIGN */

    .designs .pic-info {

    }
    .designs .pic-info .pic-text{

        width: 70%;

    }
    .designs .pic-info .pic-text p br{

       display: none;

    }
    .designs .pic-info .pic-text::before{


        top: 3px;
        left: -12px;
    }
    .designs .pic-info .shop{

        width: 9%;
        
    }


    .designs .pic-info .shop a{
    
    
        font-size: 12px;

    }

}